{% extends 'base.html.twig' %}
{% block title %}Winkelwagen 🛒{% endblock %}

{% block body %}
    <style>
        h1{text-align: center;}
        .bg-item{ background-color: green !important; color: white; padding: 0px 20px; border-radius: 55px; margin-left: 30px;}
        .bg-item:hover{ cursor: pointer; background-color: forestgreen;}
        .mb-3{text-align: center; background-color: #f4f4f4; padding: 10px 0px !important;}
        .cart-icon{background-color: black !important; border-radius: 50%; border: 2px dotted white; margin-left: 30px; padding: 0px 2px;}
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/default">Teleshop 📱</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/default">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Aanbiedingen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/contact">Contact</a>
                    </li>
                    <div class="bg-item">
                        <li class="nav-item">
                            <a class="nav-link active" href="/login">Login</a>
                        </li>
                    </div>
                    <div class="bg-item">
                        <li class="nav-item">
                            <a class="nav-link active" href="/register">Register</a>
                        </li>
                    </div>
                    <div class="cart-icon">
                        <li class="nav-item">
                            <a class="nav-link active" href="/cart"> 🛒 </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <h1>◼ WINKELWAGEN ◼</h1>

    <ul class="thumbnails">

        {% if empty %}
            <h5>Your shopping cart is empty.</h5>
        {% endif %}
        {% set cart = app.session.get('cart') %}
        {% set total = 0 %}
        {% set count = 0 %}

        {% if product %}
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Quantity</th>
                            <th>Code</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for key, item in cart %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ item }}</td>

                                {% for row in product %}
                                    {% if row.id == key %}
                                        <td>{{ row.omschrijving }}</td>
                                        <td>€{{ row.prijs | number_format(2)  }}</td>
                                        <td>€{{ (row.prijs * item) | number_format(2) }}</td>
                                        {% set total = total + (row.prijs * item)  %}
                                    {% endif %}
                                {% endfor %}

                                <td><a href="{{ path('cart_remove', {'id': key}) }}"><button class="btn btn-danger">Remove</button></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        {% endif %}
    </ul>

    {#    <H4 class="right">Total in Cart = €{{ total | number_format(2) }}</H4>#}
    {#    <a href="{{ path('index') }}"><button type="button" class="btn btn-info col-lg-2 right">Go on shopping!</button></a>#}
    {#    <a href="{{ path('checkout') }}"><button type="button" class="btn btn-success col-lg-2 pull-right">Checkout!</button></a>#}


{% endblock %}
