{% extends 'base.html.twig' %}

{% block title %}Registreer!{% endblock %}

{% block body %}
    <style>
        .container{margin-top: 150px!important; padding: 50px 50px !important; background-color: #17a2b8!important; border-radius: 15px!important;}
        h1 {color: white;}
        btn{background-color: white!important;}
    </style>
    <div class="container">
    <h1>Registreer hier:</h1>
        <bR>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-info">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
